extends layout

block content
  h1= title
  p #{subtitle}

  if author
    h2 Tell what's on your mind
    form(method='POST' action='/create')
              div.form-group

                label(for='message') Post text:
                input#content.form-control(type='text' name='message')
              button.btn.btn-primary(type='submit') Submit new post


  ul
  each post in posts
    if post.time.getSeconds() < 10
      p #{post.author}: #{post.message} - #{post.time.getFullYear()}.#{(post.time.getMonth()+1)}.#{post.time.getDate()} #{post.time.getHours()}:#{post.time.getMinutes()}:0#{post.time.getSeconds()}
    else
      p #{post.author}: #{post.message} - #{post.time.getFullYear()}.#{(post.time.getMonth()+1)}.#{post.time.getDate()} #{post.time.getHours()}:#{post.time.getMinutes()}:#{post.time.getSeconds()}
  else
    p Looks like there are no posts here yet!

  