extends layout



block content
  h1= title
  p Web Applications Social Channel

  h2= author

  p Times visited a userpage during login: #{cookietimer}

  h2 Tell what's on your mind
  form(method='POST' action='/ownpage/create')
            div.form-group
              label(for='message') Post text:
              input#content.form-control(type='text' name='message')
            button.btn.btn-primary(type='submit') Submit a new post

  - var noMessages = true

  ul
  each post in posts
    if post.author == author
      li #{post.message}
      - noMessages = false
  if noMessages
    p Looks like this user hasn't posted anything!

  
  //- h2 Submit New Post
  //- form(method='POST' action='/create')
  //-           div.form-group
  //-             label(for='username')
  //-             input#content.form-controll(type='text' name='username' value=author)
  //-           div.form-group
  //-             label(for='message') Post text:
  //-             input#content.form-control(type='text' name='message')
  //-           button.btn.btn-primary(type='submit') Submit new post