extends layout



block content
  h1= title
  p #{subtitle}


  h2= author
  form(method="get" action="/ownpage/logout")
    button.btn.btn-primary(type='Logoff') Log out

  p Times visited a userpage during login: #{cookietimer}

  h2 Tell what's on your mind
  form(method='POST' action='/ownpage/create')
            div.form-group
              label(for='message') Post text:
              input#content.form-control(type='text' name='message')
            button.btn.btn-primary(type='submit') Submit a new post

  

  - var noMessages = true

  ul
  each post in posts
    if post.author == author
      if post.time.getSeconds() < 10
        p #{post.author}: #{post.message} - #{post.time.getFullYear()}.#{(post.time.getMonth()+1)}.#{post.time.getDate()} #{post.time.getHours()}:#{post.time.getMinutes()}:0#{post.time.getSeconds()}
      else
        p #{post.author}: #{post.message} - #{post.time.getFullYear()}.#{(post.time.getMonth()+1)}.#{post.time.getDate()} #{post.time.getHours()}:#{post.time.getMinutes()}:#{post.time.getSeconds()}
      - noMessages = false
  if noMessages
    p Looks like this user hasn't posted anything!

  
  //- h2 Submit New Post
  //- form(method='POST' action='/create')
  //-           div.form-group
  //-             label(for='username')
  //-             input#content.form-controll(type='text' name='username' value=author)
  //-           div.form-group
  //-             label(for='message') Post text:
  //-             input#content.form-control(type='text' name='message')
  //-           button.btn.btn-primary(type='submit') Submit new post